<div class="container">
    <section class="section-projects section-add-project">
        <h1 class="block-title">Создание проекта</h1>
        <div class="change-project-card">
            <div class="form-field">
                <label class="main-label">Шифр</label>
                <input class="form-input" />
            </div>
            <div class="form-field">
                <label class="main-label">Наименование проекта</label>
                <input class="form-input" />
            </div>
            <div class="form-field">
                <label class="main-label">ГИП</label>
                <select class="form-input select2">
                    <option selected></option>
                    <option>Тест</option>
                </select>
            </div>
            <div class="form-field">
                <label class="main-label">Разработчик</label>
                <select class="select2">
                    <option selected></option>
                    <option>Тест</option>
                </select>
            </div>
            <div class="form-field">
                <label class="main-label">Проверил</label>
                <select class="select2">
                    <option selected></option>
                    <option>Тест</option>
                </select>
            </div>
            <div class="form-field">
                <label class="main-label">Дата</label>
                <input class="form-input" type="date" />
            </div>
            <div class="form-field">
                <label class="main-label">Стадия</label>
                <input class="form-input" />
            </div>
            <div class="sheets-block">
                <div class="form-field">
                    <label class="main-label">Лист ..</label>
                    <input class="form-input" />
                </div>
                <div class="form-field">
                    <label class="main-label">Листов..</label>
                    <input class="form-input" />
                </div>
            </div>
            <div class="button-block">
                <button class="primary-btn create-btn" type="button">Создать</button>
                <button class="primary-btn" type="button">Отмена</button>

            </div>
        </div>
    </section>
</div>
