<div class="container">
    <section class="section-city">
        <h1 class="block-title">Города</h1>
        <div class="cities-list">
            <a class="projects-company-item" asp-controller="Autorization" asp-action="Projects">
                <img class="projects-image" src="/img/projects/project-2.png" width="360" height="360" />
                <span>АСТАНА</span>
            </a>
        </div>
    </section>
</div>
