@{
    Layout = "/Views/Autorization/_Layout.cshtml";
}

<section class="background-autorization">
    <div class="d-flex autorization-block-wrapper">
        <div class="entrance-block">
            <svg class="logo-img" width="240" height="60" viewBox="0 0 240 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.949 4.79423L3.30713 48.9942L6.94032 55.2521L29.9971 15.5023L43.2955 38.4251H48.4425L28.949 4.79423ZM32.5822 25.6774L29.9971 21.2041L9.4556 56.6196H58.5735L62.1834 50.3848L18.2358 50.3616C23.0335 42.1335 27.8079 33.9055 32.5822 25.6774ZM34.2358 28.5282L28.5065 38.4251H39.9883L34.2358 28.5282ZM26.853 41.276L23.2198 47.5108H62.1834L36.5881 3.38039H31.441L53.4032 41.276H41.6419H26.853ZM66.3289 48.9478L60.2038 59.4937H6.10189L0 48.971L28.1339 0.506348H38.2416L66.3289 48.9478Z" fill="#00A5E1" />
                <path d="M100.472 39.8386H93.8345L91.9015 36.2924H79.6511L77.8578 39.8386H71.1504L81.7472 20.1607H89.6657L100.472 39.8386ZM89.5958 32.1436L85.7297 24.889L81.9335 32.1436H89.5958ZM128 27.2531C128 28.667 127.768 29.71 127.325 30.3821C126.883 31.0311 125.974 31.6337 124.647 32.1436C126.114 32.584 127.046 33.2562 127.465 34.1833C127.768 34.8322 127.907 36.0375 127.907 37.7758V39.8386H121.875V38.5175C121.875 37.0573 121.805 36.1765 121.642 35.8521C121.34 35.1799 120.594 34.8091 119.383 34.7395C118.428 34.6932 117.311 34.67 116.03 34.67C115.331 34.67 114.306 34.67 112.932 34.6932C111.581 34.7164 110.557 34.7164 109.881 34.7164V39.8386H103.803V20.1607H122.015C124.46 20.1607 126.114 20.7634 126.952 21.9686C127.651 22.9421 128 24.7036 128 27.2531ZM122.131 27.3922C122.131 26.4187 121.875 25.7466 121.34 25.3989C120.897 25.1208 120.152 24.9585 119.104 24.9585H109.881V29.6868H118.941C120.012 29.6868 120.757 29.5709 121.2 29.3159C121.829 29.0146 122.131 28.3657 122.131 27.3922ZM156.717 27.2531C156.717 28.667 156.484 29.71 156.041 30.3821C155.575 31.0311 154.69 31.6337 153.363 32.1436C154.83 32.584 155.762 33.2562 156.181 34.1833C156.484 34.8322 156.623 36.0375 156.623 37.7758V39.8386H150.591V38.5175C150.591 37.0573 150.522 36.1765 150.359 35.8521C150.056 35.1799 149.311 34.8091 148.099 34.7395C147.145 34.6932 146.027 34.67 144.746 34.67C144.047 34.67 143.022 34.67 141.648 34.6932C140.297 34.7164 139.273 34.7164 138.597 34.7164V39.8386H132.519V20.1607H150.731C153.177 20.1607 154.83 20.7634 155.669 21.9686C156.367 22.9421 156.717 24.7036 156.717 27.2531ZM150.848 27.3922C150.848 26.4187 150.591 25.7466 150.056 25.3989C149.613 25.1208 148.868 24.9585 147.82 24.9585H138.597V29.6868H147.657C148.728 29.6868 149.474 29.5709 149.916 29.3159C150.545 29.0146 150.848 28.3657 150.848 27.3922ZM186.108 33.1171C186.108 35.5971 185.456 37.3586 184.129 38.4016C182.941 39.3519 181.078 39.8386 178.516 39.8386H167.476C165.38 39.8386 163.82 39.2128 162.795 37.9381C161.957 36.9646 161.444 35.5044 161.235 33.5575C161.142 32.7462 161.095 31.0311 161.095 28.4584C161.095 27.5313 161.118 26.1638 161.118 24.3327C161.142 22.4785 161.165 21.111 161.165 20.1607H167.174C167.174 21.0183 167.174 22.2699 167.174 23.9155C167.174 25.5843 167.174 26.8127 167.174 27.6471C167.174 29.2464 167.197 30.5212 167.22 31.4251C167.29 32.6304 167.5 33.4879 167.849 33.9978C168.268 34.6005 169.06 34.9481 170.201 35.0177C170.737 35.064 171.436 35.0872 172.297 35.0872C172.74 35.0872 173.415 35.064 174.3 35.064C175.209 35.0408 175.861 35.0177 176.327 35.0177C177.91 35.0177 178.935 34.7627 179.424 34.2296C179.843 33.7429 180.03 32.7231 180.03 31.1702V20.1607H186.108V33.1171ZM216.99 39.8386H210.353L208.42 36.2924H196.169L194.399 39.8386H187.669L198.289 20.1607H206.184L216.99 39.8386ZM206.137 32.1436L202.271 24.889L198.452 32.1436H206.137ZM240 39.8386H220.344V20.1607H226.399V35.0177H240V39.8386Z" fill="black" />
            </svg>
            <form>
                <div>
                    <div class="form-field"> @* класс "error-form" необходимо добавлять к блоку для вывода ошибки*@
                        <label class="main-label">Логин</label>
                        <input class="form-input" />
                        <span class="error-text">Пользователь не найден!</span>
                    </div>
                    <div class="form-field">
                        <label class="main-label">Пароль</label>
                        <input class="form-input" type="password" />
                        <span class="error-text">Неверный пароль!</span>
                    </div>
                    <div class="checkbox-block">
                        <label class="main-checkbox" role="button">
                            <input class="visually-hidden" type="checkbox">
                            <span class="main-checkbox-text left">Запомнить меня</span>
                        </label>
                        <a class="forgot-password-btn">Забыли пароль?</a>
                    </div>
                    <button class="entrance-btn" type="submit">Войти</button>
                    <div class="entry-method-block">
                        <a class="login-as-guest-btn">
                            <svg width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="fill-icon" d="M11 12C12.25 12 13.3125 11.5625 14.1875 10.6875C15.0625 9.8125 15.5 8.75 15.5 7.5C15.5 6.25 15.0625 5.1875 14.1875 4.3125C13.3125 3.4375 12.25 3 11 3C9.75 3 8.6875 3.4375 7.8125 4.3125C6.9375 5.1875 6.5 6.25 6.5 7.5C6.5 8.75 6.9375 9.8125 7.8125 10.6875C8.6875 11.5625 9.75 12 11 12ZM11 10.2C10.25 10.2 9.6125 9.9375 9.0875 9.4125C8.5625 8.8875 8.3 8.25 8.3 7.5C8.3 6.75 8.5625 6.1125 9.0875 5.5875C9.6125 5.0625 10.25 4.8 11 4.8C11.75 4.8 12.3875 5.0625 12.9125 5.5875C13.4375 6.1125 13.7 6.75 13.7 7.5C13.7 8.25 13.4375 8.8875 12.9125 9.4125C12.3875 9.9375 11.75 10.2 11 10.2ZM11 15C8.56667 15 6.35 14.3208 4.35 12.9625C2.35 11.6042 0.9 9.78333 0 7.5C0.9 5.21667 2.35 3.39583 4.35 2.0375C6.35 0.679167 8.56667 0 11 0C13.4333 0 15.65 0.679167 17.65 2.0375C19.65 3.39583 21.1 5.21667 22 7.5C21.1 9.78333 19.65 11.6042 17.65 12.9625C15.65 14.3208 13.4333 15 11 15ZM11 13C12.8833 13 14.6125 12.5042 16.1875 11.5125C17.7625 10.5208 18.9667 9.18333 19.8 7.5C18.9667 5.81667 17.7625 4.47917 16.1875 3.4875C14.6125 2.49583 12.8833 2 11 2C9.11667 2 7.3875 2.49583 5.8125 3.4875C4.2375 4.47917 3.03333 5.81667 2.2 7.5C3.03333 9.18333 4.2375 10.5208 5.8125 11.5125C7.3875 12.5042 9.11667 13 11 13Z" fill="#00A5E1" />
                            </svg>
                            Войти как гость
                        </a>
                        <a class="registration-btn">Регистрация</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="quotation-block-wrapper">
            <div class="quotation-block">
                <span class="quotation-text">«Молчать — большой талант». </span>
                <span class="quotation-author">Ф. Достоевский</span>
            </div>
        </div>
    </div>
</section>
