<div class="container">
    <section class="section-projects">
        <h1 class="block-title">Проекты</h1>
        <div class="projects-list">
            <a class="project-card">
                <b>Проект №1</b>
            </a>
            <a class="project-card">
                <b>Проект №2</b>
            </a>
            <a class="project-card add-project" asp-controller="Autorization" asp-action="AddProject">
                <b>Добавить проект</b>
            </a>
        </div>       
    </section>
</div>
