<div class="container-projects">
    <section class="section-projects">
        <h1 class="block-title">Добро пожаловать!</h1>
        <span class="projects-list-text">Пожалуйста, выберите город из списка:</span>
        <div class="projects-list">
            <a class="project-card">
                <img src="~/img/projects/Aktau.png" width="75" height="75" />
                <span class="city-name">Актау</span>
            </a>
            <a class="project-card">
                <img src="~/img/projects/Almaty.png" width="75" height="75" />
                <span class="city-name">Алматы</span>
            </a>
            <a class="project-card">
                <img src="~/img/projects/Karaganda.png" width="75" height="75" />
                <span class="city-name">Караганда</span>
            </a>
            <a class="project-card">
                <img src="~/img/projects/Kostanay.png" width="75" height="75" />
                <span class="city-name">Костанай</span>
            </a>
            <a class="project-card">
                <img src="~/img/projects/Nur-Sultan.png" width="75" height="75" />
                <span class="city-name">Нур-султан</span>
            </a>
            <a class="project-card">
                <img src="~/img/projects/Pavlodar.png" width="75" height="75" />
                <span class="city-name">Павлодар</span>
            </a>
            <a class="project-card">
                <img src="~/img/projects/Semey.png" width="75" height="75" />
                <span class="city-name">Семей</span>
            </a>
        </div>
    </section>
</div>
