@{
    Layout = "/Views/Autorization/_Layout.cshtml";
}
<section class="background-autorization">
    <div class="registartion-block-wrapper">
        <h1 class="block-title">Регистрация в личном кабинете</h1>
        <div class="container-registartion-block">
            <div class="one-block">
                <div class="form-field">
                    <label class="main-label">Фамилия</label>
                    <input class="form-input" placeholder="Фамилия"/>
                </div>
                <div class="form-field">
                    <label class="main-label">Имя</label>
                    <input class="form-input" placeholder="Имя"/>
                </div>
                <div class="form-field">
                    <label class="main-label">Отчество (если есть)</label>
                    <input class="form-input" placeholder="Отчество (если есть)"/>
                </div>
            </div>
            <div class="two-block">
                <div class="form-field">
                    <label class="main-label">Логин</label>
                    <input class="form-input success-login" placeholder="Логин"/>
                </div>
                <div class="form-field">
                    <label class="main-label">Пароль</label>
                    <input class="form-input" placeholder="Пароль"/>
                </div>
                <div class="form-field">
                    <label class="main-label">Повторите пароль</label>
                    <input class="form-input" placeholder="Повторите пароль"/>
                </div>
            </div>
            <div class="three-block">
                <div class="form-field">
                    <label class="main-label">Должность</label>
                    <select class="main-select">
                            <option selected></option>
                        </select>
                </div>
                <div class="form-field">
                    <label class="main-label">Электронная почта</label>
                    <input class="form-input" placeholder="Электронная почта"/>
                </div>
            </div>      
        </div>
        <div class="d-flex justify-content-center btn-block">
            <button class="primary-btn registration-btn" type="button">Регистрация</button>
        </div>
    </div>
</section>
