<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arrual</title>
    <link rel="shortcut icon" href="~/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/scss/style.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Arrual.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header-index">
        <div class="background-header absolute">
            <img src="~/img/header/background-car.jpg" />
        </div>
        <div class="header-wrapper">
            <div class="header-top">
                <div class="header-logo">
                    <img src="~/img/logo.png" width="445" height="74" />
                </div>
                <div class="d-flex header-two-column">
                    <div class="city-block">
                        <svg class="location-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.2 28L13.4 18.6L4 14.8V12.9333L28 4L19.0667 28H17.2ZM18.0667 23.0667L23.4667 8.53333L8.93333 13.9333L15.4667 16.5333L18.0667 23.0667Z" fill="#00A5E1" />
                        </svg>
                        <a>г. Астана</a>
                    </div>
                    <a class="primary-btn" asp-controller="Autorization" asp-action="Index">Вход</a>
                </div>
            </div>
            <div class="header-content">
                <div class="header-text-block">
                    <span>Проектирование</span> строительных объектов
                </div>
                <div class="header-contacts-block">
                    <span class="header-contacts-phone">+7 (7172) 98-78-78</span>
                    <span class="header-contacts-address">г. Астана, Наркескен 1/1</span>
                </div>
            </div>

        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container footer-block">
            <div class="footer-org-name">
                <span>© ТОО "АРРУАЛ"  2025</span>
            </div>
            <div class="footer-phone">
                <a href="tel:+7(7172)98-78-78">+7 (7172) 98-78-78</a>
            </div>
            <div class="footer-city">
                <span>г. Астана, Наркескен 1/1</span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
