<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arrual</title>
    <link rel="shortcut icon" href="~/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/scss/style.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Arrual.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="background-header absolute">
            <img src="~/img/header/background-car.jpg" />
        </div>
        <div class="header-wrapper">
            <div class="header-top">
                <div>
                    <img src="~/img/logo.png" width="445" height="74" />
                </div>
                <div class="d-flex">
                    <div class="city-block">
                        <svg class="location-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.2 28L13.4 18.6L4 14.8V12.9333L28 4L19.0667 28H17.2ZM18.0667 23.0667L23.4667 8.53333L8.93333 13.9333L15.4667 16.5333L18.0667 23.0667Z" fill="#00A5E1" />
                        </svg>
                        <a>г. Астана</a>
                    </div>
                    <a class="primary-btn" asp-controller="Autorization" asp-action="Index">Вход</a>
                </div>
            </div>
            <div class="header-content">
                <div class="header-text-block">
                    <span>Проектирование</span> строительных объектов
                </div>
                <div class="header-contacts-block">
                    <span class="header-contacts-phone">+7 (7172) 98-78-78</span>
                    <span class="header-contacts-address">г. Астана, Наркескен 1/1</span>
                </div>
            </div>

        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container footer-block">
            <svg class="footer-logo" width="300" height="74" viewBox="0 0 300 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.1863 5.38608L4.13392 60.8233L8.6754 68.6723L37.4964 18.8166L54.1194 47.5672H60.5531L36.1863 5.38608ZM40.7278 31.5785L37.4964 25.9679L11.8195 70.3874H73.2169L77.7293 62.5675L22.7948 62.5384C28.7918 52.2184 34.7598 41.8985 40.7278 31.5785ZM42.7948 35.1541L35.6332 47.5672H49.9854L42.7948 35.1541ZM33.5662 51.1428L29.0247 58.9628H77.7293L45.7351 3.61278H39.3013L66.754 51.1428H52.0524H33.5662ZM82.9112 60.7651L75.2547 73.9922H7.62737L0 60.7942L35.1674 0.00805664H47.802L82.9112 60.7651Z" fill="#B3B3B3" />
                <path d="M125.59 49.3404H117.293L114.876 44.8926H99.5634L97.3218 49.3404H88.9375L102.183 24.6597H112.082L125.59 49.3404ZM111.994 39.689L107.162 30.59L102.416 39.689H111.994ZM160 33.5552C160 35.3285 159.709 36.6367 159.156 37.4797C158.603 38.2937 157.467 39.0495 155.808 39.689C157.642 40.2414 158.806 41.0844 159.331 42.2472C159.709 43.0612 159.884 44.5729 159.884 46.7532V49.3404H152.344V47.6834C152.344 45.852 152.256 44.7473 152.052 44.3403C151.674 43.4973 150.742 43.0321 149.229 42.9449C148.035 42.8868 146.638 42.8577 145.036 42.8577C144.163 42.8577 142.882 42.8577 141.165 42.8868C139.476 42.9159 138.195 42.9159 137.351 42.9159V49.3404H129.753V24.6597H152.518C155.575 24.6597 157.642 25.4155 158.69 26.9272C159.563 28.1481 160 30.3575 160 33.5552ZM152.664 33.7296C152.664 32.5087 152.344 31.6656 151.674 31.2296C151.121 30.8807 150.189 30.6772 148.879 30.6772H137.351V36.6076H148.675C150.015 36.6076 150.946 36.4622 151.499 36.1425C152.285 35.7646 152.664 34.9506 152.664 33.7296ZM195.895 33.5552C195.895 35.3285 195.604 36.6367 195.051 37.4797C194.469 38.2937 193.363 39.0495 191.703 39.689C193.537 40.2414 194.702 41.0844 195.226 42.2472C195.604 43.0612 195.779 44.5729 195.779 46.7532V49.3404H188.239V47.6834C188.239 45.852 188.151 44.7473 187.948 44.3403C187.569 43.4973 186.638 43.0321 185.124 42.9449C183.93 42.8868 182.533 42.8577 180.932 42.8577C180.058 42.8577 178.777 42.8577 177.06 42.8868C175.371 42.9159 174.09 42.9159 173.246 42.9159V49.3404H165.648V24.6597H188.413C191.47 24.6597 193.537 25.4155 194.585 26.9272C195.459 28.1481 195.895 30.3575 195.895 33.5552ZM188.559 33.7296C188.559 32.5087 188.239 31.6656 187.569 31.2296C187.016 30.8807 186.085 30.6772 184.774 30.6772H173.246V36.6076H184.571C185.91 36.6076 186.841 36.4622 187.395 36.1425C188.181 35.7646 188.559 34.9506 188.559 33.7296ZM232.635 40.91C232.635 44.0205 231.82 46.2299 230.16 47.5381C228.675 48.7299 226.347 49.3404 223.144 49.3404H209.345C206.725 49.3404 204.774 48.5555 203.494 46.9566C202.446 45.7357 201.805 43.9043 201.543 41.4623C201.427 40.4449 201.368 38.2937 201.368 35.0669C201.368 33.904 201.397 32.1889 201.397 29.8923C201.427 27.5667 201.456 25.8516 201.456 24.6597H208.967C208.967 25.7353 208.967 27.3051 208.967 29.3691C208.967 31.4621 208.967 33.0029 208.967 34.0494C208.967 36.0553 208.996 37.6541 209.025 38.7879C209.112 40.2995 209.374 41.3751 209.811 42.0147C210.335 42.7705 211.325 43.2066 212.751 43.2938C213.421 43.3519 214.294 43.381 215.371 43.381C215.924 43.381 216.769 43.3519 217.875 43.3519C219.01 43.3228 219.825 43.2938 220.408 43.2938C222.387 43.2938 223.668 42.974 224.28 42.3054C224.804 41.6949 225.036 40.4158 225.036 38.4681V24.6597H232.635V40.91ZM271.237 49.3404H262.94L260.524 44.8926H245.211L242.999 49.3404H234.585L247.86 24.6597H257.729L271.237 49.3404ZM257.671 39.689L252.839 30.59L248.064 39.689H257.671ZM300 49.3404H275.429V24.6597H282.999V43.2938H300V49.3404Z" fill="#B3B3B3" />
            </svg>
            <div class="footer-phone">
                <a href="tel:+7(7172)98-78-78">+7 (7172) 98-78-78</a>
            </div>
            <div class="footer-city">
                <span>г. Астана, Наркескен 1/1</span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
