<div class="container-city">
    <section class="section-city">
        <h1 class="city-name">Астана</h1>
        <div class="city-info-card-list">
            <a class="city-info-item-card">
                <img src="~/img/projects/city/general-plan-icon.svg" width="80" height="80" />
                <span class="card-name">Генеральный план</span>
            </a>
            <a class="city-info-item-card">
                <img src="~/img/projects/city/schemes-tko-icon.svg" width="80" height="80" />
                <span class="card-name">Схемы тэо</span>
            </a>
            <a class="city-info-item-card">
                <img src="~/img/projects/city/pdp-icon.svg" width="80" height="80" />
                <span class="card-name">ПДП</span>
            </a>
            <a class="city-info-item-card" asp-controller="Project" asp-action="WorkingProjects">
                <img src="~/img/projects/city/work-projects-icon.svg" width="80" height="80" />
                <span class="card-name">Рабочие проекты</span>
            </a>
        </div>
    </section>
</div>
