@{
    Layout = "/Views/Project/_Layout.cshtml";
}
<div class="container-projects">
    <section class="section-projects">
        <h1 class="block-title">Добро пожаловать!</h1>
        <span class="projects-list-text">Пожалуйста, выберите город из списка:</span>
        <div class="projects-list">
            <a class="project-card">
                <img src="~/img/projects/Aktau.png" width="75" height="75" />
                <span class="city-name">Актау</span>
            </a>
            <a class="project-card">
                <img src="~/img/projects/Almaty.png" width="75" height="75" />
                <span class="city-name">Алматы</span>
            </a>
            <a class="project-card">
                <img src="~/img/projects/Karaganda.png" width="75" height="75" />
                <span class="city-name">Караганда</span>
            </a>
            <a class="project-card">
                <img src="~/img/projects/Kostanay.png" width="75" height="75" />
                <span class="city-name">Костанай</span>
            </a>
            <a class="project-card">
                <img src="~/img/projects/Nur-Sultan.png" width="75" height="75" />
                <span class="city-name">Нур-султан</span>
            </a>
            <a class="project-card">
                <img src="~/img/projects/Pavlodar.png" width="75" height="75" />
                <span class="city-name">Павлодар</span>
            </a>
            <a class="project-card">
                <img src="~/img/projects/Semey.png" width="75" height="75" />
                <span class="city-name">Семей</span>
            </a>
        </div>
    </section>
    <section class="section-snips-and-standards">
        <div class="snips-wrapper">
            <button class="accordion-btn" type="button">Снипы и нормы</button>
            <div class="accordion-panel">
                <a class="snip-item">
                     <img src="~/img/documents/snip.svg" width="40" height="40" />                
                    <div class="snip-item-text">
                        <b>СН 512-78</b>
                        <span>Технические требования к зданиям и помещениям для установки <br />средств вычислительной техники</span>
                    </div>
                </a>
                <a class="snip-item">
                    <img src="~/img/documents/snip.svg" width="40" height="40" />
                    <div class="snip-item-text">
                        <b>СНиП 1.05.03-87</b>
                        <span>Норма задела в жилищном строительстве с учетом комплексной застройки</span>
                    </div>
                </a>
                <a class="snip-item">
                    <img src="~/img/documents/snip.svg" width="40" height="40" />
                    <div class="snip-item-text">
                        <b>СНиП 1.06.04-85</b>
                        <span>Положение о главном инженере <br />(главном архитекторе) проекта
                        </span>
                    </div>
                </a>
                <a class="snip-item">
                    <img src="~/img/documents/snip.svg" width="40" height="40" />
                    <div class="snip-item-text">
                        <b>СНиП 11-03-2001</b>
                        <span>
                            Типовая проектная
                            <br />документация
                        </span>
                    </div>
                </a>
                <a class="snip-item">
                    <img src="~/img/documents/snip.svg" width="40" height="40" />
                    <div class="snip-item-text">
                        <b>СНиП 11-04-2003</b>
                        <span>
                            Инструкция о порядке разработки, согласования, экспертизы и <br />утверждения градостроительной документации
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>
