@{
    Layout = "/Views/Project/_Layout.cshtml";
}
<div class="container-projects">
    <section class="section-projects">
        <h1 class="block-title">Добро пожаловать!</h1>
        <span class="projects-list-text">Пожалуйста, выберите город из списка:</span>
        <div class="projects-list">
            <a class="project-card" asp-controller="Project" asp-action="City">
                <img src="~/img/projects/Aktau.png" width="75" height="75" />
                <span class="city-name">Актау</span>
            </a>
            <a class="project-card" asp-controller="Project" asp-action="City">
                <img src="~/img/projects/Almaty.png" width="75" height="75" />
                <span class="city-name">Алматы</span>
            </a>
            <a class="project-card" asp-controller="Project" asp-action="City">
                <img src="~/img/projects/Karaganda.png" width="75" height="75" />
                <span class="city-name">Караганда</span>
            </a>
            <a class="project-card" asp-controller="Project" asp-action="City">
                <img src="~/img/projects/Kostanay.png" width="75" height="75" />
                <span class="city-name">Костанай</span>
            </a>
            <a class="project-card" asp-controller="Project" asp-action="City">
                <img src="~/img/projects/Nur-Sultan.png" width="75" height="75" />
                <span class="city-name">Нур-султан</span>
            </a>
            <a class="project-card" asp-controller="Project" asp-action="City">
                <img src="~/img/projects/Pavlodar.png" width="75" height="75" />
                <span class="city-name">Павлодар</span>
            </a>
            <a class="project-card" asp-controller="Project" asp-action="City">
                <img src="~/img/projects/Semey.png" width="75" height="75" />
                <span class="city-name">Семей</span>
            </a>
        </div>
    </section>
    <section class="section-snips-and-standards">
        <div class="snips-wrapper">
            <button class="accordion-btn" type="button">Снипы и нормы</button>
            <div class="accordion-panel">
                <a class="snip-item">
                    <img src="~/img/documents/snip.svg" width="40" height="40" />
                    <div class="snip-item-text">
                        <b>СН 512-78</b>
                        <span>Технические требования к зданиям и помещениям для установки <br />средств вычислительной техники</span>
                    </div>
                </a>
                <a class="snip-item">
                    <img src="~/img/documents/snip.svg" width="40" height="40" />
                    <div class="snip-item-text">
                        <b>СНиП 1.05.03-87</b>
                        <span>Норма задела в жилищном строительстве с учетом комплексной застройки</span>
                    </div>
                </a>
                <a class="snip-item">
                    <img src="~/img/documents/snip.svg" width="40" height="40" />
                    <div class="snip-item-text">
                        <b>СНиП 1.06.04-85</b>
                        <span>
                            Положение о главном инженере <br />(главном архитекторе) проекта
                        </span>
                    </div>
                </a>
                <a class="snip-item">
                    <img src="~/img/documents/snip.svg" width="40" height="40" />
                    <div class="snip-item-text">
                        <b>СНиП 11-03-2001</b>
                        <span>
                            Типовая проектная
                            <br />документация
                        </span>
                    </div>
                </a>
                <a class="snip-item">
                    <img src="~/img/documents/snip.svg" width="40" height="40" />
                    <div class="snip-item-text">
                        <b>СНиП 11-04-2003</b>
                        <span>
                            Инструкция о порядке разработки, согласования, экспертизы и <br />утверждения градостроительной документации
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="section-email-template">
        <div class="email-template-wrapper">
            <button class="accordion-btn" type="button">Шаблоны писем</button>
            <div class="accordion-panel">
                <a class="email-template-item">
                    <img src="~/img/documents/email.svg" width="40" height="40" />
                    <div class="email-template-item-text">
                        <b>Жилинспекция</b>
                        <span>Технические требования к зданиям и помещениям для установки <br />средств вычислительной техники</span>
                    </div>
                </a>
                <a class="email-template-item">
                    <img src="~/img/documents/email.svg" width="40" height="40" />
                    <div class="email-template-item-text">
                        <b>Комархитектура</b>
                        <span>Реконструкция и капитальный ремонт, предполагающие изменения во <br />внешнем виде или форме фасада сооружения</span>
                    </div>
                </a>
                <a class="email-template-item">
                    <img src="~/img/documents/email.svg" width="40" height="40" />
                    <div class="email-template-item-text">
                        <b>БТИ</b>
                        <span>Переоформление документации после завершения реконструкции <br />жилого или нежилого помещения в многоквартирном доме</span>
                    </div>
                </a>
                <a class="email-template-item">
                    <img src="~/img/documents/email.svg" width="40" height="40" />
                    <div class="email-template-item-text">
                        <b>СЭС</b>
                        <span>Санитарно-эпидемиологические правила в ходе строительных работ, <br />реконструкции или модернизации</span>
                    </div>
                </a>
                <a class="email-template-item">
                    <img src="~/img/documents/email.svg" width="40" height="40" />
                    <div class="email-template-item-text">
                        <b>Ростехнадзор</b>
                        <span>Проверка соответствуют ли здания, относящиеся к категории опасных <br />производственных объектов, требованиям безопасности</span>
                    </div>
                </a>
                <a class="email-template-item">
                    <img src="~/img/documents/email.svg" width="40" height="40" />
                    <div class="email-template-item-text">
                        <b>УГИБДД</b>
                        <span>Проектная документация, которая затрагивает организацию <br />дорожного движения и безопасности при проведении строительных <br />работ.</span>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>
