@{
    ViewData["Title"] = "Рабочие проекты";
}
<ul class="breadcrumbs">
    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
    <li>
        <a class="active">@ViewData["Title"]</a>
    </li>
</ul>
<div class="container-working-projects">
    <section class="section-working-projects">
        <div class="working-projects-header">
            <span class="working-projects-title">Астана</span>
            <a class="add-project-btn" asp-controller="Project" asp-action="CreateProject">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_284_14573)">
                        <path class="fil0" d="M16.5 19.5H7.5V16.5H16.5V7.5H19.5V16.5H28.5V19.5H19.5V28.5H16.5V19.5Z" fill="#00A5E1" />
                    </g>
                    <defs>
                        <clipPath id="clip0_284_14573">
                            <rect width="36" height="36" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                <span>Добавить проект</span>
            </a>
        </div>
        <div class="working-projects-wrapper">
            <div class="left-panel">
                <a class="panel-item active">
                    <span>Все проекты</span>
                    <span>(90)</span>
                </a>
                <a class="panel-item">
                    <span>В разработке</span>
                    <span>(23)</span>
                </a>
                <a class="panel-item">
                    <span>Готовые</span>
                    <span>(67)</span>
                </a>
            </div>
            <div class="right-panel">
                <div class="working-projects-list">
                    <a class="working-projects-item">
                        <img src="~/img/projects/working-projects/project-doc-icon.png" width="48" height="48" />
                        <div class="working-projects-text">
                            <span class="date-create">18.04.2025</span>
                            <b class="working-projects-name">Разработка наружных сетей водоснабжения и канализации</b>
                            <div class="performed-name"><span>Выполнил:</span> Юнусов Б. К.</div>
                        </div>
                    </a>
                    <a class="working-projects-item">
                        <img src="~/img/projects/working-projects/project-time-icon.png" width="48" height="48" />
                        <div class="working-projects-text">
                            <span class="date-create">18.04.2025</span>
                            <b class="working-projects-name">МАГИСТРАЛЬНЫЙ КОЛЛЕКТОР ГЛУБОКОГО ЗАЛОЖЕНИЯ В Г. АСТАНА</b>
                            <div class="performed-name"><span>Выполнил:</span> Юнусов Б. К.</div>
                        </div>
                    </a>
                    <a class="working-projects-item">
                        <img src="~/img/projects/working-projects/project-time-icon.png" width="48" height="48" />
                        <div class="working-projects-text">
                            <span class="date-create">18.04.2025</span>
                            <b class="working-projects-name">ДОРОГИ И ИНЖЕНЕРНЫЕ СЕТИ В РАЙОНЕ ГАЗОВАЯ АППАРАТУРА</b>
                            <div class="performed-name"><span>Выполнил:</span> Юнусов Б. К.</div>
                        </div>
                    </a>
                    <a class="working-projects-item">
                        <img src="~/img/projects/working-projects/project-time-icon.png" width="48" height="48" />
                        <div class="working-projects-text">
                            <span class="date-create">18.04.2025</span>
                            <b class="working-projects-name">СЕТИ ТЕПЛОСНАБЖЕНИЯ В РАЙОНЕ МЖК AKBULAK RIVERA</b>
                            <div class="performed-name"><span>Выполнил:</span> Юнусов Б. К.</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
