.header-registration {
    padding: 70px 80px;

    img {
        object-fit: contain;
        align-self: center;
    }

    @media(max-width: 560px) {
        padding: 70px 20px;

        img {
            width: 350px;
        }
    }

    @media(max-width: 425px) {
        padding: 30px 20px;

        img {
            width: 270px;
        }
    }
}

.body-wrapper {
    background: linear-gradient(119deg,#FFFFFF 0,#B0B0B0 100%);
    min-height: 100vh;
    overflow-x: hidden;
}

.background-autorization {
    background: url(../img/authorization/background.png) no-repeat right bottom;
    background-size: 100%;
    min-height: 81.3vh;

    @media(max-width: 767px) {
        padding-bottom: 80px;
    }
}

.entrance-block {
    width: 580px;
    height: max-content;
    background-color: $secondary-background;
    border-radius: 4px;
    padding: 60px;
    min-width: 450px;

    .logo-img {
        margin-bottom: 30px;

        @media(max-width: 470px) {
            width: 170px;
            margin-bottom: 10px;
        }
    }
}

.entrance-block-name {
    display: flex;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 30px;

    @media(max-width: 1320px) {
        font-size: 26px;
        line-height: 32px;
    }

    @media(max-width: 767px) {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 15px;
    }

    @media(max-width: 425px) {
        font-size: 20px;
    }
}

.autorization-logo {
    position: absolute;
    left: 70px;
    top: 80px;
}

input {
    outline: none;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media(max-width: 767px) {
        margin-bottom: 15px;
    }

    @media(max-width: 375px) {
        margin-bottom: 10px;
    }
}

.main-label {
    color: $gray-text-color;
    font-size: 18px;
    margin-bottom: 4px;

    @media(max-width: 375px) {
        font-size: 16px;
        margin-bottom: 3px;
    }
}

.form-input {
    border: 3px solid $primary-border-color;
    border-radius: 4px;
    padding: 34px 30px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    height: 60px;

    &:hover, &:focus {
        border-color: $secondary-border-color;
    }

    @media(max-width: 650px) {
        padding: 10px;
        height: 50px;
        font-size: 20px;
    }
}

.main-checkbox input:checked + .main-checkbox-text::after {
    background: #fff url(../img/authorization/flag.svg) no-repeat center;
}

.main-checkbox-text.left::after {
    top: 0;
    left: 0;
}

.main-checkbox-text {
    padding-left: 40px;
    font-size: 20px;
    line-height: 24px;

    @media(max-width: 375px) {
        font-size: 18px;
        line-height: 22px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-checkbox-text::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 0.125rem solid $primary-border-color;
    border-radius: 0.25rem;
    background-color: $secondary-background;
}

.checkbox-block {
    position: relative;
    display: flex;
    justify-content: space-between;

    @media(max-width: 767px) {
        margin-top: 30px;
    }

    @media(max-width: 470px) {
        flex-direction: column;
    }

    @media(max-width: 375px) {
        margin-top: 15px;
    }
}

.registration-btn, .forgot-password-btn, .login-as-guest-btn {
    color: $secondary-text-color;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;

    &:hover, &:focus {
        cursor: pointer;
        color: $third-text-color;
    }
}

.login-as-guest-btn {
    @media(max-width: 450px) {
        margin-bottom: 20px;
    }

    svg {
        margin-right: 10px;
    }

    &:hover, &:focus {
        .fill-icon {
            fill: $third-text-color;
        }
    }
}

.entry-method-block {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @media(max-width: 450px) {
        flex-direction: column;
    }
}

.entrance-btn {
    display: flex;
    width: 100%;
    color: $color-white-text;
    font-size: 24px;
    line-height: 12px;
    font-weight: 700;
    border-radius: 4px;
    background-color: $primary-background-color;
    padding: 34px;
    justify-content: center;
    text-decoration: none;
    height: 80px;
    margin-top: 30px;
    border: none;

    &:hover, &:focus {
        color: $color-white-text;
        cursor: pointer;
        background-color: $hover-background-btn;
    }

    @media(max-width: 650px) {
        height: 50px;
        padding: 17px 15px;
        font-size: 22px;
    }
}

.quotation-text {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 500;
    word-wrap: break-word;

    @media(max-width: 650px) {
        font-size: 20px;
    }
}

.quotation-author {
    font-size: 16px;
    font-weight: 400;
}

.quotation-block {
    display: flex;
    flex-direction: column;
}

.entrance-block-wrapper {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 125px;
    margin-bottom: 125px;

    @media(max-width: 1700px) {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.quotation-block-wrapper {
    //padding: 140px 0 140px 140px;
    padding: 0 0 0 140px;
    width: 100%;
    align-self: center;
    //max-width: 580px;
    max-width: 800px;

    @media(max-width: 1700px) {
        display: flex;
        justify-content: center;
        padding-left: 70px;
    }

    @media(max-width: 1200px) {
        padding-left: 30px;
    }

    @media(max-width: 1023px) {
        padding-left: 20px;
        padding-right: 20px;
        max-width: none;
        padding-top: 100px;
    }

    @media(max-width: 650px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @media(max-width: 425px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.autorization-block-wrapper {
    display: flex;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    //min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 81.3vh;

    @media(max-width: 1600px) {
        padding-right: 100px;
        padding-left: 100px;
    }

    @media(max-width: 1250px) {
        flex-direction: column;
        padding-top: 90px;
    }

    @media(max-width: 1200px) {
        padding: 50px;
    }

    @media(max-width: 767px) {
        padding: 20px;
    }

    @media(max-width: 650px) {
        justify-content: flex-start;
    }
}

.entrance-block {
    /* margin-top: auto;
    margin-bottom: auto;*/

    @media(max-width: 1023px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media(max-width: 767px) {
        width: 100%;
    }

    @media(max-width: 650px) {
        padding: 30px;
        min-width: 260px;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    @media(max-width: 470px) {
        .main-checkbox {
            margin-bottom: 25px;
        }
    }

    @media(max-width: 375px) {
        padding: 20px;
    }
}

.error-form {
    .error-text {
        display: flex !important;
        font-size: 18px;
        color: $error-text-color;
        font-weight: 400;

        @media(max-width: 650px) {
            font-size: 16px;
        }
    }
}

.error-text {
    display: none;
}


// страница с регистрацией
.registartion-block-wrapper {
    background-color: $secondary-background;
    border-radius: 4px;
    width: 1560px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;

    @media(max-width: 1650px) {
        width: 95%;
        padding: 40px;
    }

    @media(max-width: 650px) {
        padding: 30px;
    }

    @media(max-width: 375px) {
        padding: 20px;
    }

    .form-field {
        @media(max-width: 767px) {
            margin-bottom: 15px;
        }
    }

    .form-input {
        padding: 18px 30px 18px 13px;
    }

    .block-title {
        line-height: 40px;
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 30px;

        @media(max-width: 767px) {
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 15px;
        }

        @media(max-width: 650px) {
            font-size: 24px;
            line-height: 28px;
        }

        @media(max-width: 530px) {
            font-size: 20px;
            line-height: 22px;
        }
    }

    .container-registartion-block {
        display: flex;
        justify-content: space-between;

        @media(max-width: 1450px) {
            flex-wrap: wrap;
        }
    }

    .one-block {
        width: 33%;
        margin-right: 15px;

        @media(max-width: 1450px) {
            width: calc(50% - 15px);
        }

        @media(max-width: 1025px) {
            width: 100%;
            margin: 0;
        }
    }

    .two-block {
        width: 33%;
        margin-right: 15px;
        margin-left: 15px;

        @media(max-width: 1450px) {
            width: calc(50% - 15px);
            margin-right: 0;
        }

        @media(max-width: 1025px) {
            width: 100%;
            margin: 0;
        }
    }

    .three-block {
        width: 33%;
        margin-left: 15px;

        @media(max-width: 1450px) {
            width: calc(50% - 15px);
            margin-left: 0;
        }

        @media(max-width: 1025px) {
            width: 100%;
            margin: 0;
        }
    }

    .registration-btn {
        background-color: $primary-background-color;
        color: $color-white-text;
        width: 460px;
        justify-content: center;
        font-size: 24px;

        &:hover, &:focus {
            background-color: $hover-background-btn;
            border-color: transparent;
        }

        @media(max-width: 767px) {
            width: 100%;
            padding: 20px 25px;
        }
    }

    .btn-block {
        margin-top: 30px;

        @media(max-width: 767px) {
            margin-top: 15px;
        }
    }

    .form-input.success-login {
        background: url(../img/authorization/success-icon.png) no-repeat right;
        background-position-x: 98%;

        @media(max-width: 767px) {
            background-size: 25px;
        }
    }
}
