@font-face {
    font-family: 'CoFoSans';
    src: url('../fonts/CoFoSansRegular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CoFoSans';
    src: url('../fonts/CoFoSansMedium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CoFoSans';
    src: url('../fonts/CoFoSansBold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CoFoSans';
    src: url('../fonts/CoFoSansBlack.ttf') format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body {
    div {
        font-family: 'CoFoSans';
        font-weight: 400;
    }
}