/* Хлебные крошки */
ul.breadcrumbs {
    list-style-type: none;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2.7rem 0 2rem 0;
    padding: 0 80px;

    @media(max-width: 1023px) {
        padding: 0;
    }

    li {
        display: flex;
        margin-bottom: 5px;

        &::after {
            content: "/";
            margin: 0 0.25rem;
            color: $third-text-color;
        }

        &:last-of-type::after {
            content: "";
        }

        a {
            font-size: 18px;
            line-height: 100%;
            font-weight: 400;
            color: $secondary-text-color;
            -webkit-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            text-decoration: none;

            &:hover,
            &:focus,
            &.active {
                color: $third-text-color;
                border-bottom: none;
            }
        }
    }
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: $gray-text-color !important;
}

.form-input::-webkit-input-placeholder {
    color: $gray-text-color !important;
}

@media(max-width: 650px) {
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 20px !important;
    }

    .select2-container .select2-selection--single {
        height: 50px !important;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 13px 40px 13px 13px !important;
    }

    .select2-container--default .select2-results > .select2-results__options {
        font-size: 20px !important;
    }
}
