$white-color: #fff;

$primary-text-color: #000000;
$secondary-text-color: #00A5E1;
$color-white-text: $white-color;
$third-text-color: #B3B3B3;
$gray-text-color: #9C9C9C;



$primary-background-btn: #ADB6B9;
$hover-background-btn: #03afee;

$primary-background-color: #00A5E1;
$secondary-background: $white-color;

$primary-border-color: #DBDBDB;
$secondary-border-color: #00A5E1;

$primary-box-shadow: rgba(0,165,225,0.25);
