.section-add-project {
}

.change-project-card {
    background-color: $secondary-background;
    box-shadow: 0 10px 50px rgba(0, 165, 225, .25);
    border-radius: 4px;
    max-width: 1000px;
    padding: 30px;

    .form-input {
        height: 60px;
        padding: 20px 30px;
    }
}

.button-block {
    display: flex;
    justify-content: end;

    .create-btn {
        margin-right: 15px;
    }
}

.select2-container .select2-selection--single {
    height: 60px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
    top: 10px !important;
    right: 5px !important;
    width: 40px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 15px 20px !important;
    display: flex !important;
}

.select2-container--default .select2-selection--single {
    border: 3px solid $primary-border-color !important;
    border-radius: 4px !important;
    font-size: 24px !important;
    font-weight: 400 !important;
}

.sheets-block {
    display: flex;
    justify-content: space-between;

    .form-field {
        width: 48%;
    }
}
