.section-add-project {
}

.change-project-card {
    background-color: $secondary-background;
    box-shadow: 0 10px 50px rgba(0, 165, 225, .25);
    border-radius: 4px;
    max-width: 1000px;
    padding: 30px;

    .form-input {
        height: 60px;
        padding: 18px 20px 18px 20px;
    }
}

.button-block {
    display: flex;
    justify-content: end;

    .create-btn {
        margin-right: 15px;
    }
}

.select2-container--default .select2-selection--single {
    &:hover, &:focus {
        border-color: $secondary-border-color !important;
    }
}

.select2-results__option select2-results__option--highlighted {
    font-size: 24px !important;
}

.sheets-block {
    display: flex;
    justify-content: space-between;

    .form-field {
        width: 48%;
    }
}

.section-create-project {
    margin-bottom: 80px;
    padding: 0 80px;

    @media(max-width: 1023px) {
        padding: 0;
    }

    .block-title {
        font-size: 50px;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 500;

        @media(max-width: 767px) {
            font-size: 40px;
            line-height: 35px;
        }

        @media(max-width: 560px) {
            font-size: 34px;
            line-height: 24px;
        }

        @media(max-width: 450px) {
            font-size: 24px;
            line-height: 20px;
        }
    }
}

.create-project-wrapper {
    padding: 60px;
    background-color: $secondary-background;
    border-radius: 4px;

    @media(max-width: 1200px) {
        padding: 40px;
    }

    @media(max-width: 767px) {
        padding: 30px;
        margin-top: 40px;

        .form-field {
            margin-bottom: 15px;
        }
    }

    @media(max-width: 479px) {
        padding: 20px;
    }

    .form-input {
        padding: 16px 20px 20px 20px;
        outline: none;

        .main-label {
            font-size: 14px;
            line-height: 100%;
            font-weight: 400;
            margin-bottom: 4px;
        }
    }

    .one-column {
        margin-right: 15px;
        width: 50%;

        @media(max-width: 1600px) {
            margin-right: 0;
            width: 100%;
        }
    }

    .two-column {
        margin-left: 15px;
        width: 50%;

        @media(max-width: 1600px) {
            margin-left: 0;
            width: 100%;
        }
    }

    .completed-block {
        margin-right: 15px;
        width: 70%;

        @media(max-width: 800px) {
            margin-right: 0;
            width: 100%;
        }
    }

    .composition-project-block {
        margin-left: 15px;
        width: 30%;

        @media(max-width: 800px) {
            margin-left: 0;
            width: 100%;
        }
    }

    .primary-btn {
        width: 340px;
        justify-content: center;
        padding: 34px 30px;
        font-size: 24px;
    }

    .cancel-btn {
        background-color: $third-background-color;
        color: $secondary-text-color;

        &:hover, &:focus {
            background-color: $primary-background-color;
            border-color: transparent;
            color: $color-white-text;
        }
    }

    .add-btn {
        background-color: $primary-background-color;
        color: $color-white-text;
        margin-left: 30px;

        &:hover, &:focus {
            background-color: $hover-background-btn;
            border-color: transparent;
        }
    }

    .btn-block {
        margin-top: 30px;

        @media(max-width: 650px) {
            flex-direction: column;
            margin-top: 15px;

            button {
                width: 100%;
                padding: 25px 30px;
            }

            .cancel-btn {
                margin-bottom: 20px;
            }

            .add-btn {
                margin-left: 0;
            }
        }
    }
}

.name-project-input {
    resize: none;
    overflow: hidden;
}

.name-project-block {
    margin-right: 30px;
    width: 80%;
}

.create-project-column-wrapper {
    @media(max-width: 1600px) {
        flex-direction: column;

        .two-column {
            margin-left: 0;
        }
    }
}

.name-project-column-wrapper {
    @media(max-width: 1600px) {
        flex-direction: column;

        .name-project-block {
            margin-right: 0;
            width: 100%;
        }
    }
}

.completed-block-wrapper {
    @media(max-width: 800px) {
        flex-direction: column;
    }
}
