.add-project-btn {
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
    text-align: center;
    border: 3px solid $primary-border-color;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    line-height: 12px;
    display: flex;
    text-decoration: none;
    color: $secondary-text-color;

    &:hover, &:focus {
        background-color: $primary-background-color;
        color: $color-white-text;
        border-color: transparent;

        svg .fil0 {
            fill: $secondary-background;
        }
    }

    span {
        align-self: center;
        margin-left: 10px;
    }
}

.working-projects-header {
    display: flex;
    justify-content: space-between;
}

.working-projects-title {
    font-size: 50px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
}

.container-working-projects {
    margin-top: 30px;
}

.working-projects-wrapper {
    display: flex;
    margin-top: 30px;

    .left-panel {
        display: flex;
        flex-direction: column;
        padding: 40px 50px;
        min-width: 350px;
        border-right: 1px solid #B3B3B3;
        height: max-content;
    }

    .panel-item {
        padding: 10px 0;
        color: $third-text-color;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        margin-bottom: 10px;
        cursor: pointer;
        text-transform: uppercase;

        &.active {
            color: $primary-text-color;
            font-weight: 800;
        }

        &:hover, &:focus {
            color: $primary-text-color;
            font-weight: 800;
        }
    }

    .right-panel {
        margin-left: 30px;
        width: 100%;
    }
}

.working-projects-list {
    display: flex;
    flex-direction: column;
}

.working-projects-item {
    display: flex;
    padding: 30px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 30px;

    &:hover, &:focus {
        background-color: $secondary-background;
    }

    img {
        object-fit: contain;
        align-self: center;
    }
}

.working-projects-text {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    color: $primary-text-color;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;

    .date-create {
        margin-bottom: 10px;
    }

    .working-projects-name {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .performed-name {
        margin-bottom: 10px;

        span {
            color: $third-text-color;
        }
    }
}
