@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<section class="section-description">
    <div class="description-wrapper">
        <div class="description-row">
            <div class="description-item">
                <div class="logo-project-item">
                    <svg width="48" height="34" viewBox="0 0 48 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.16684 28.3332H14.4019C13.5165 27.5894 12.7168 26.7394 12.0028 25.7832C11.2884 24.8269 10.701 23.7881 10.2406 22.6668H4.16684V28.3332ZM23.9926 28.3332C27.1259 28.3332 29.7993 27.2289 32.0128 25.0203C34.2264 22.8121 35.3332 20.1411 35.3332 17.0074C35.3332 13.8741 34.2289 11.2007 32.0203 8.98716C29.8121 6.77361 27.1411 5.66684 24.0074 5.66684C20.8741 5.66684 18.2007 6.77114 15.9872 8.97972C13.7736 11.188 12.6668 13.8589 12.6668 16.9926C12.6668 20.1259 13.7711 22.7993 15.9797 25.0128C18.188 27.2264 20.8589 28.3332 23.9926 28.3332ZM37.7594 11.3332H43.8332V5.66684H33.5981C34.4835 6.41059 35.2832 7.26059 35.9972 8.21684C36.7116 9.17309 37.299 10.2119 37.7594 11.3332ZM0.625 34V17H4.16684V19.125H9.28438C9.21354 18.7708 9.16927 18.4255 9.15156 18.0891C9.13385 17.7526 9.125 17.3896 9.125 17C9.125 12.8563 10.5682 9.34115 13.4547 6.45469C16.3411 3.56823 19.8563 2.125 24 2.125H43.8332V0H47.375V17H43.8332V14.875H38.7156C38.7865 15.2292 38.8307 15.5745 38.8484 15.9109C38.8661 16.2474 38.875 16.6104 38.875 17C38.875 21.1438 37.4318 24.6589 34.5453 27.5453C31.6589 30.4318 28.1438 31.875 24 31.875H4.16684V34H0.625ZM23.9968 22.8082C22.9248 22.8082 22.008 22.4267 21.2465 21.6638C20.4851 20.901 20.1043 19.9839 20.1043 18.9125C20.1043 18.0979 20.243 17.3689 20.5203 16.7253C20.7976 16.0822 21.379 15.0877 22.2644 13.7418L24 11.1918L25.7356 13.7418C26.621 15.0877 27.2024 16.0822 27.4797 16.7253C27.757 17.3689 27.8957 18.0979 27.8957 18.9125C27.8957 19.9839 27.5139 20.901 26.7503 21.6638C25.9871 22.4267 25.0692 22.8082 23.9968 22.8082Z" fill="white" />
                    </svg>
                </div>
                <span>Проектирование<br />инженерных сетей</span>
            </div>

            <div class="description-item">
                <div class="logo-project-item">
                    <svg width="50" height="40" viewBox="0 0 50 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M36.7672 12.4817H40.4795V8.77778H36.7672V12.4817ZM36.7672 21.7778H40.4795V18.0739H36.7672V21.7778ZM36.7672 31.0372H40.4795V27.3333H36.7672V31.0372ZM34.6886 40V36.2961H45.7877V3.70389H24.4432V8.88889L20.7309 6.25944V0H49.5V40H34.6886ZM0.5 40V18.1483L15.7568 7.25944L30.9763 18.1483V40H18.4669V28.8517H13.0468V40H0.5ZM4.21231 36.2961H9.33503V25.1483H22.1786V36.2961H27.2646V20.0372L15.7568 11.815L4.21231 20.0528V36.2961Z" fill="white" />
                    </svg>
                </div>
                <span>Градостроительное<br />проектирование</span>
            </div>
        </div>
        <div class="description-row">
            <div class="description-item">
                <div class="logo-project-item">
                    <svg width="46" height="40" viewBox="0 0 46 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.5 17.7222V13.8889C4.18738 12.9507 7.90306 12.2902 11.6471 11.9072C15.3907 11.5246 19.175 11.3333 23 11.3333C26.825 11.3333 30.6093 11.5246 34.3529 11.9072C38.0969 12.2902 41.8126 12.9507 45.5 13.8889V17.7222C44.75 17.537 44 17.3643 43.25 17.2039C42.5 17.0431 41.75 16.8887 41 16.7406V24.1111H37.2498V16.0739C34.8749 15.7035 32.5062 15.4381 30.1437 15.2778C27.7812 15.1174 25.4 15.0372 23 15.0372C20.6 15.0372 18.2188 15.1081 15.8562 15.25C13.4937 15.3919 11.1251 15.648 8.75019 16.0183V24.1111H5V16.685C4.25 16.8331 3.5 16.9969 2.75 17.1761C2 17.355 1.25 17.537 0.5 17.7222ZM9.98769 40L13.1748 20.5739C13.7501 20.4998 14.3814 20.4413 15.0687 20.3983C15.7561 20.355 16.3874 20.3148 16.9627 20.2778L13.7002 40H9.98769ZM16.5875 0H20.3L19.2875 6.05556C18.7126 6.09259 18.0845 6.13889 17.4031 6.19444C16.7218 6.25 16.0936 6.30241 15.5187 6.35167L16.5875 0ZM21.1252 40H24.8748V31.815H21.1252V40ZM21.1252 26.4072H24.8748V20.2406H21.1252V26.4072ZM25.6623 0H29.4125L30.4812 6.35167C29.9064 6.31463 29.2721 6.26537 28.5783 6.20389C27.8846 6.14204 27.2501 6.09259 26.6748 6.05556L25.6623 0ZM32.2627 40L29.0002 20.2778C29.5751 20.3148 30.2126 20.3643 30.9127 20.4261C31.6124 20.4876 32.2499 20.5554 32.8252 20.6294L36.0123 40H32.2627Z" fill="white" />
                    </svg>
                </div>
                <span>Проектирование <br />транспортной инфраструктуры</span>
            </div>

            <div class="description-item">
                <div class="logo-project-item">
                    <svg width="48" height="34" viewBox="0 0 48 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.16684 28.3332H14.4019C13.5165 27.5894 12.7168 26.7394 12.0028 25.7832C11.2884 24.8269 10.701 23.7881 10.2406 22.6668H4.16684V28.3332ZM23.9926 28.3332C27.1259 28.3332 29.7993 27.2289 32.0128 25.0203C34.2264 22.8121 35.3332 20.1411 35.3332 17.0074C35.3332 13.8741 34.2289 11.2007 32.0203 8.98716C29.8121 6.77361 27.1411 5.66684 24.0074 5.66684C20.8741 5.66684 18.2007 6.77114 15.9872 8.97972C13.7736 11.188 12.6668 13.8589 12.6668 16.9926C12.6668 20.1259 13.7711 22.7993 15.9797 25.0128C18.188 27.2264 20.8589 28.3332 23.9926 28.3332ZM37.7594 11.3332H43.8332V5.66684H33.5981C34.4835 6.41059 35.2832 7.26059 35.9972 8.21684C36.7116 9.17309 37.299 10.2119 37.7594 11.3332ZM0.625 34V17H4.16684V19.125H9.28438C9.21354 18.7708 9.16927 18.4255 9.15156 18.0891C9.13385 17.7526 9.125 17.3896 9.125 17C9.125 12.8563 10.5682 9.34115 13.4547 6.45469C16.3411 3.56823 19.8563 2.125 24 2.125H43.8332V0H47.375V17H43.8332V14.875H38.7156C38.7865 15.2292 38.8307 15.5745 38.8484 15.9109C38.8661 16.2474 38.875 16.6104 38.875 17C38.875 21.1438 37.4318 24.6589 34.5453 27.5453C31.6589 30.4318 28.1438 31.875 24 31.875H4.16684V34H0.625ZM23.9968 22.8082C22.9248 22.8082 22.008 22.4267 21.2465 21.6638C20.4851 20.901 20.1043 19.9839 20.1043 18.9125C20.1043 18.0979 20.243 17.3689 20.5203 16.7253C20.7976 16.0822 21.379 15.0877 22.2644 13.7418L24 11.1918L25.7356 13.7418C26.621 15.0877 27.2024 16.0822 27.4797 16.7253C27.757 17.3689 27.8957 18.0979 27.8957 18.9125C27.8957 19.9839 27.5139 20.901 26.7503 21.6638C25.9871 22.4267 25.0692 22.8082 23.9968 22.8082Z" fill="white" />
                    </svg>
                </div>
                <span>Авторский <br />надзор</span>
            </div>
        </div>
    </div>
</section>
<section class="section-statistics">
    <div class="statistic-item">
        <span class="statictic-number">8</span>
        <span class="statictic-text">лет работы</span>
    </div>
    <div class="statistic-item">
        <span class="statictic-number">21</span>
        <span class="statictic-text">успешный проект</span>
    </div>
</section>
<section class="section-company-description">
    <div class="company-description-row">
        <span>
            Мы специализируемся на разработке уникальных проектов, которые соответствуют самым высоким стандартам качества и эстетики. <br />
            Наша команда состоит из опытных архитекторов, инженеров и дизайнеров, которые готовы воплотить в жизнь ваши идеи и требования. <br />
            <br />
            Используя современные технологии и методы, такие как 3D-моделирование и Building Information Modeling (BIM),<br />
            мы обеспечиваем высокое качество каждого проекта и минимизируем риски.<br />
            Мы всегда учитываем экологические аспекты, стремясь к созданию устойчивых и безопасных объектов.<br />
            С нами вы можете быть уверены, что ваш проект будет реализован в срок и с максимальным профессионализмом.<br />
        </span>

    </div>
</section>
<section class="section-projects-company">
    <h1>Проекты</h1>
    <div class="projects-company-list">

        <a class="projects-company-item">
            <img class="projects-image" src="/img/projects/project-1.jpg" width="360" height="360" />
            <span>ТЕПЛОСНАБЖЕНИЕ <br />РАЙОНА SOVICO <br />(CAPITAL PARK)</span>
        </a>
        <a class="projects-company-item">
            <img class="projects-image" src="/img/projects/project-2.png" width="360" height="360" />
            <span>ИНЖЕНЕРНАЯ <br />ИНФРАСТРУКТУРА <br />МЖК <br />RIVER PARK COMFORT</span>
        </a>
        <a class="projects-company-item">
            <img class="projects-image" src="/img/projects/project-1.jpg" width="360" height="360" />
            <span>ТЕПЛОСНАБЖЕНИЕ <br />РАЙОНА SOVICO <br />(CAPITAL PARK)</span>
        </a>
        <a class="projects-company-item">
            <img class="projects-image" src="/img/projects/project-2.png" width="360" height="360" />
            <span>ИНЖЕНЕРНАЯ <br />ИНФРАСТРУКТУРА <br />МЖК <br />RIVER PARK COMFORT</span>
        </a>


        <a class="projects-company-item">
            <img class="projects-image" src="/img/projects/project-1.jpg" width="360" height="360" />
            <span>ТЕПЛОСНАБЖЕНИЕ <br />РАЙОНА SOVICO <br />(CAPITAL PARK)</span>
        </a>
        <a class="projects-company-item">
            <img class="projects-image" src="/img/projects/project-2.png" width="360" height="360" />
            <span>ИНЖЕНЕРНАЯ <br />ИНФРАСТРУКТУРА <br />МЖК <br />RIVER PARK COMFORT</span>
        </a>
        <a class="projects-company-item">
            <img class="projects-image" src="/img/projects/project-1.jpg" width="360" height="360" />
            <span>ТЕПЛОСНАБЖЕНИЕ <br />РАЙОНА SOVICO <br />(CAPITAL PARK)</span>
        </a>


    </div>
</section>