header {
    position: relative;
    min-height: 1080px;

    @media(max-width: 1050px) {
        min-height: 970px;
    }

    @media(max-width: 767px) {
        min-height: 500px;
    }
}

.background-header {
    position: absolute;
    width: 100%;
    min-height: 100%;

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        inset: 0px;
        object-fit: cover;
        object-position: center center;
        color: transparent;
    }
}

.header-wrapper {
    position: relative;
    padding: 70px 80px 0 80px;

    @media(max-width: 1500px) {
        padding-left: 0;
        padding-right: 0;
    }

    @media(max-width: 1050px) {
        padding-top: 50px;
    }

    @media(max-width: 767px) {
        padding-top: 20px;
    }
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 1500px) {
        padding-left: 70px;
        padding-right: 70px;
    }

    @media(max-width: 1050px) {
        padding-left: 30px;
        padding-right: 30px;

        img {
            width: 350px;
            height: auto;
        }
    }

    @media(max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;

        img {
            width: 300px;
        }

        .header-logo {
            display: flex;
            margin-right: auto;
        }

        .header-two-column {
            margin-left: auto;

            @media(max-width: 430px) {
                margin-top: 10px;
            }
        }

        .city-block {
            margin-right: 25px;
        }
    }

    @media(max-width: 650px) {
        img {
            width: 250px;
        }
    }

    @media(max-width: 375px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.city-block {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    margin-right: 40px;

    @media(max-width: 767px) {
        font-size: 16px;
    }

    a {
        text-decoration: none;
        color: $primary-text-color;

        &:hover, &:focus {
            cursor: pointer;
            color: $primary-text-color;
        }
    }

    svg {
        margin-right: 20px;

        @media(max-width: 767px) {
            margin-right: 5px;
        }
    }
}

.header-text-block {
    font-weight: 900;
    font-size: 60px;
    line-height: 50px;
    text-transform: uppercase;
    max-width: 705px;
    padding: 220px 0 370px 0;

    span {
        color: $secondary-text-color;
    }

    @media(max-width: 1300px) {
        font-size: 55px;
        line-height: 45px;
    }

    @media(max-width: 1120px) {
        font-size: 50px;
        line-height: 42px;
        max-width: 520px;
    }

    @media(max-width: 1050px) {
        font-size: 42px;
        line-height: 38px;
    }

    @media(max-width: 767px) {
        font-size: 28px;
        line-height: 30px;
        max-width: 350px;
        padding-top: 70px;
        padding-bottom: 120px;
    }

    @media(max-width: 650px) {
        font-size: 20px;
        line-height: 24px;
        max-width: 230px;
    }

    @media(max-width: 375px) {
        font-size: 17px;
        line-height: 18px;
    }
}

.header-content {
    //padding-left: 100px;
    //padding: 220px 0 120px 100px;
    max-width: 1560px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 1720px) {
        max-width: 1400px;
    }

    @media (max-width: 1580px) {
        max-width: 1200px;
    }
    /* @media (max-width: 1400px) {
        max-width: 1320px;
    }*/

    @media(max-width: 1260px) {
        max-width: 1050px;
    }

    @media(max-width: 1150px) {
        max-width: 1000px;
    }

    @media(max-width: 1050px) {
        max-width: none;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media(max-width: 430px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media(max-width: 375px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.header-contacts-block {
    display: flex;
    flex-direction: column;

    @media(max-width: 650px) {
        margin-top: 40px;
    }

    @media(max-width: 375px) {
        margin-top: 50px;
    }

    .header-contacts-phone {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: .05em;
        font-weight: 400;
        margin-bottom: 10px;

        @media(max-width: 767px) {
            font-size: 30px;
            line-height: 32px;
            margin-bottom: 5px;
        }

        @media(max-width: 767px) {
            font-size: 22px;
            line-height: 22px;
        }
    }

    .header-contacts-address {
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;

        @media(max-width: 767px) {
            font-size: 18px;
            line-height: 18px;
        }
    }
}
