.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $third-text-color;
    text-transform: uppercase;
    margin-bottom: 120px;

    a {
        color: $third-text-color !important;

        &:hover, &:focus {
            color: $secondary-text-color !important;
        }
    }

    @media(max-width: 1650px) {
        margin-bottom: 50px;
    }

    @media(max-width: 950px) {
        font-size: 14px;
    }

    @media(max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.footer-logo {
    @media(max-width: 950px) {
        width: 200px;
    }

    @media(max-width: 767px) {
        margin-bottom: 10px;
    }
}

@media(max-width: 767px) {
    .footer-phone {
        margin-bottom: 5px;
    }
}
